/*template do site*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');*/

:root {
    --fontstyle: roboto;
    --fontsize-main: 16px;
    --fontcolor: white;
    --color-link: white;
    --background: #3a7ca5;
    --backgroundlink:#2F6690;
    --backgroundTwo: #16425b;
}

* {
    box-sizing: border-box;
    outline: none;
}

html,
body,
#wrap {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: var(--fontsize-main);
    font-family: var(--fontstyle);
}

body {
    background-color: var(--cor-do-fundo);
    background-image: url('/img/circulo-azul-abstrato-na-tecnologia-de-fundo-preto_1142-9770.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

/*HEADER*/
header {
    color: var(--fontcolor);
    background-color: var(--background);
}

header form {
    display: flex;
    padding: 0.3rem;
    background-color: var(--backgroundTwo);
}

#inputSearch {
    flex-grow: 1;
    border-radius: 10px 0 0 10px;
    height: 35px;
    padding: 1rem;
    border: none;
}

#submitSearch {
    border-radius: 0 10px 10px 0;
    background-color: white;
    border: none;
}

header img {
    height: 3rem;
    width: auto;
}

header div {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

header h1 {
    margin-left: 30px;
    font-size: 2rem;
    font-family: "Jersey 15", serif;
}

/*NAV*/
nav {
    background-color: var(--background); 
    
}

nav i {
    font-size: 1.5rem;
    
}

nav a {
    padding: 1rem;
    
}

nav span{
    display: flex;
    flex-direction: column;
}



/*MAIN*/
main {
    background-color: white;
    flex-grow: 1;
}

/*FOOTER*/
footer {
    background-color: var(--backgroundTwo);
    color: #DCEDFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: var(--color-link);
    text-decoration: none;
}

a:hover {
    background-color: var(--backgroundlink);
}

#wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: auto;
}

/* Para larguras de 640px ou mais */
@media screen and (min-width: 640px) {
    header {
        display: row;
        justify-content: space-between;
    }

    header form {
        padding: 0.6rem;
    }
}

/* Para larguras de 425px ou mais */
@media screen and (min-width: 425px) {
    

}
