/*template do site*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
/*@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');*/

/*definicoes de estilo*/
:root{
    --fontstyle: roboto;
    --fontsize-main: 16px;
    --fontcolor: white;
    --color-link: white;
}

*{
    box-sizing: border-box;
    outline: none;
}

html, body, #wrap{
    position: relative;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: var(--fontsize-main);
    font-family: var(--fontstyle);
}

/*HEADER*/
header{
    font-size: 10px;
    color: var(--fontcolor);
    background-color: #3e5641;
}

header form{
    display: flex;    
    padding: 0.5rem;
    background-color: #282b28;
}

header img{
    display: block;
    width: auto;
    height: 4rem;
    padding: 5px;
}

header div{
    display: flex;
}

header a{
    padding: 1rem;
}

header h1{
    font-size: 2rem;
    font-family: "Jersey 15", serif;
}
/*HEADER*/

/*NAV*/
nav{
    display: flex;
    justify-content: start;
    background-color:#3e5641;
}

nav img{
    width: 2rem;
    height: 2rem;
}

nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

nav span{
    margin-top: .5rem;
    font-weight: bold;
}

nav a{
    width: 6rem;
}

nav a:last-child{
    margin-left:auto ;
}

nav a:hover{
    background-color: #282b28;
}

/*NAV*/

/*MAIN*/
main{
    background-color: white;
    flex-grow: 1;
}

/*MAIN*/

/*FOOTER*/
footer{
    display: flex;
    justify-content: space-around; 
    padding: 1rem;
    background-color: #2c2c2c;
    color: #DCEDFF;
}

footer div span{
    margin-left: 1.8rem;
}

footer span{
    
}
/*FOOTER*/

a{
    color: var(--color-link);
    text-decoration: none;
}

form input{
    height: 35px;
    padding: 15px;
    border: none;
}

#wrap{
    display: flex;
    flex-direction: column;
}

#inputSearch{
    display: flex;
    flex-grow: 1;
    border-radius: 10px 0px 0 10px;
}

#submitSearch{
    border-radius: 0px 10px 10px 0px;
    background-color: white;
    border: none;
}

